body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: black;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 70px;
  }

  .navigation-links li{
    display: inline-block;
    font-weight: bold;
  }

  section img{
    height: auto;
    width: 100%;
  }

  section button:first-of-type{
    background-color: black;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 1.1em;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 20px;
  }

  section button:last-of-type{
    background-color: transparent;
    color: black;
    border: 2px solid black;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 1.1em;
    cursor: pointer;
    margin-top: 20px;
  }

  section button:fist-of-type a{
    color: white;
  }

  section button:last-of-type a{
    color: black;
  }

  .box-servicos .servicos{
    margin-bottom: 5rem;
  }

  .box-servicos .servicos img{
    max-width: 350px;
    margin-bottom: .4rem;
    border-radius: 13px;
  }

  .box-servicos .servicos p{
    font-weight: bold;
  }

  .form-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-section h2{
    margin-bottom: 70px;
  }

  form{
    width: auto;
  }

  form input{
    height: 30px;
    width: 300px;
    display: block;
    margin-bottom: 30px;
    font-size: 1em;
  }

  form textarea{
    display: block;
    width: 300px;
    font-size: 1em;
  }
  
  nav {
    display: none;
  }

  nav ul{
    list-style: none;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-left: 20px;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  main {
    margin: 0 3rem;
    padding: 20px;
  }
  
  @media (min-width: 768px) {
    nav {
      display: block;
    }
    
    main {
      display: flex;
      justify-content: space-between;
    }
    
    section {
      width: 45%;
    }
  }

  footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 4px 0;
    margin-top: 70px;
  }
  